<style>
  /* FEED */
.patientory-container {
  background-color: #f8f8f8;
  margin: 100px 0 100px 0;
}
.message-popup {
  text-align: center;
  z-index: 1000;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh; }
  .message-popup h1, .message-popup h2 {
    font-size: 16pt;
    text-align: center; }
  .message-popup textarea {
    font-size: 12pt;
    width: 100%;
    height: 100vh;
    padding: 20px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  
  .message-popup button{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 40px;
     }
  
  .message-popup button #submit{
    bottom: 80px; }
    
  .message-popup button #cancel {
    bottom: 40px; }


  .tag-select-container {
    border-bottom: 1px solid #c0c0c0;
  }
  
  .tag-select-container .tag-select,
  .tag-select-container .tag-select-header {
    display: inline-block;
  } 
  
  .tag-select select {
    font-size: 12pt;
    padding: 20px;
    border: none;
    
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  
  
</style>
<div class="patientory-container">
  <div ng-repeat="message in ctrl.feed">
     <div
      class="message"
      ng-repeat="(key, val) in message"
      message='val'
      message-id="{{key}}"
      remove="ctrl.deleteBoard(key)">
    </div> 
  </div>
</div>

<div class="message-popup" ng-if="ctrl.messagePopup">
  <!-- NEW MESSAGE -->
  <h1>POST MESSAGE</h1>
  <button ng-click="ctrl.reset();ctrl.toggleMessagePopup();" class="button-gray" id="cancel">CANCEL</button>
  <button ng-click="ctrl.postMessage(ctrl.newMessage, ctrl.createForm.$valid);ctrl.toggleMessagePopup()" class="button-red" id="submit">SUBMIT</button>
  <div class="tag-select-container">
    <div class="tag-select-header" style="display: inline-block;">
      <h2>TAG</h2>
    </div>
    <div class="tag-select" style="display: inline-block;">
      <select style="" ng-model="ctrl.newMessage.tag">
        <option>T1D</option>
        <option>Living with Diabetes</option>
        <option>New Mom</option>
        <option>Motherhood</option>
      </select>      
    </div>
  </div>
  <div class="message-body">
    <form
        name="ctrl.createForm"
        class="create-form"
        role="form"
        novalidate>
      <fieldset>
        <div>
          <textarea id="message_to_post"
              type="text"
              ng-model="ctrl.newMessage.text"
              placeholder="Message Content"
              required>
        </div>
        
      </fieldset>
      
    </form>
  </div>
</div>
