
<div>
    <h1>HELLO</h1>
    <p>{{tag}}</p>
    <button ng-click="ctrl.toggleMessagePopup();">New Message</button>
</div>

<div class="container">
  <div class="">
    
    <div class="" ng-if="ctrl.messagePopup">
      <!-- NEW COMMENT -->
      <div class="create board">
        <div class="caption">
          <form
              name="ctrl.createForm"
              class="create-form"
              role="form"
              ng-submit="ctrl.postMessage(ctrl.newMessage, ctrl.createForm.$valid);toggleMessagePopup()"
              novalidate>
            <fieldset>
              <div>
                <input
                    type="text"
                    ng-model="ctrl.newMessage.text"
                    placeholder="Message Content"
                    required>
              </div>
              <button
                  type="submit"
                  class="bottom-right-corner btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
              <button ng-click="ctrl.reset();ctrl.toggleMessagePopup();">Cancel</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
<div
    class=""
    ng-repeat="(key, val) in ctrl.feed"
    message='val'
    message-id="{{key}}"
    remove="ctrl.deleteBoard(key)">
</div>