<div ng-if="ctrl.commentPopup" class="comment-popup">
  <h2>POST COMMENT</h2>
  <textarea id="comment_to_post" ng-model="$parent.message.newComment" placeholder="Your Comment..."/>
  <button ng-click="ctrl.postComment(messageId, {firstName: ctrl.getFirstName(), lastName: ctrl.getLastName(), text: message.newComment});ctrl.toggleCommentPopup();" class="button-red">Submit</button>
  <button ng-click="ctrl.reset();ctrl.toggleCommentPopup();">Cancel</button>
</div>
<div class="edit board" style="border: 1px solid grey; margin: 5px; padding: 10px;">
  <h2>{{message.user.firstName}} {{message.user.lastName}}</h2>
  <i>{{message.user.email}}</i>
  <p>{{message.text}}</p>
  <div class="caption">
    <button class="button-red" ng-click="ctrl.toggleCommentPopup()">New Comment</button>
    <div class="comments">
      <h3>Comments</h3>
      <div ng-repeat="(key, val) in message.comments">
        <b><i>{{val.firstName}} {{val.lastName}}</i></b>
        {{val.text}}
      </div>  
    </div>
    <a
      type="button"
      ng-click="ctrl.postComment(messageId, message.text)"
      class="view arrow-bottom-right btn btn-default">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </a>
    <span ng-show="ctrl.loading" class="glyphicon glyphicon-refresh"></span>
  </div>
</div>
<style>
  .caption {
    background-color: grey;
  }
</style>
