<div class="message-popup">
  <!-- NEW MESSAGE -->
  <h1>POST MESSAGE</h1>
  <button ui-sref="feed" class="button-gray" id="cancel">CANCEL</button>
  <button ng-click="ctrl.postMessage(ctrl.newMessage, ctrl.createForm.$valid);ctrl.toggleMessagePopup()" class="button-red" id="submit">SUBMIT</button>
  <div class="tag-select-container">
    <div class="tag-select-header" style="display: inline-block;">
      <h2>TAG</h2>
    </div>
    <div class="tag-select" style="display: inline-block;">
      <select style="" ng-model="ctrl.newMessage.tag">
        <option>T1D</option>
        <option>Living with Diabetes</option>
        <option>New Mom</option>
        <option>Motherhood</option>
      </select>      
    </div>
  </div>
  <div class="message-body">
    <form
        name="ctrl.createForm"
        class="create-form"
        role="form"
        novalidate>
      <fieldset>
        <div>
          <textarea id="message_to_post"
              type="text"
              ng-model="ctrl.newMessage.text"
              placeholder="Message Content"
              required>
        </div>
      </fieldset>
    </form>
  </div>
</div>