<!doctype html>
<html ng-app="patientory">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Patientory</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="common/css/style.css" type="text/css" />
  </head>
  <body ng-controller="MainCtrl as main" ng-class="{loading:loadingView}" class="bg-{{main.currentColor}}">
    <div class="app-wrap">
      <header class="navbar-clear nav-wrap" role="banner">
        <nav id="top" ng-if="main.isNavEnabled()">
            <div id="search" ui-sref="search"><span class="glyphicon glyphicon-search"></span></div>
            <div id="title">Feed</div>
            <div id="add" ui-sref="post"><span class="glyphicon glyphicon-plus"></span></div>
        </nav>
      </header>

      <div ui-view class="content"></div>

      <div class="modal"></div>

      <nav id="bottom" ng-if="main.isNavEnabled()">
          <div id="menu-outer">
            <div class="table">
              <div id="horizontal-list">
                <div ng-click=""><span class="glyphicon glyphicon-user"></span></div>
                <div ng-click=""><span class="glyphicon glyphicon-globe"></span></div>
                <div ng-click=""><span class="glyphicon glyphicon-envelope"></span></div>
                <div ng-click="main.logout()"><span class="glyphicon glyphicon-off"></span></div>
              </div>
            </div>
          </div>
      </nav>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
    <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.js"></script>
    <script src="//cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="//cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <script src="vendor/angular-ui-router.min.js"></script>
    <script src="vendor/angularfire.js"></script>
    <script src="app.js"></script>
    
    <script src="common/common.js"></script>
    
    <script src="common/models/user.model.js"></script>
    <script src="common/models/feed.model.js"></script>
    <script src="common/models/comment.model.js"></script>
    <script src="common/services/auth-service.js"></script>
    <script src="common/filters/common.filter.js"></script>
    <script src="feed/feed.controller.js"></script>
    <script src="feed/message.directive.js"></script>
    <script src="feed/post.controller.js"></script>
    <script src="login/login-controller.js"></script>
    <script src="main/main-controller.js"></script>
  </body>
</html>
